@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

:root {
  --font-family-default: 'Roboto Flex', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;
  
  --font-size-h1: 5.4rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.4rem;

  --line-height-h1: 64/54;
  --line-height-h2: 48/32;
  --line-height-h3: 32/24;
}